@import "tailwindcss";

@theme {
  --breakpoint-xs: 520px;
  --font-serif: "Livory", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --grid-template-columns-16: repeat(16, minmax(0, 1fr));
  --transition-property-custom: top, left, transform, box-shadow;
}

@utility col-span-16 {
  grid-column: span 16 / span 16;
}

@layer base {
  @font-face {
    font-family: "Livory";
    src: url("/fonts/Livory-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  p {
    @apply font-serif text-slate-500 dark:text-slate-300;
  }

  h2 {
    @apply dark:text-slate-50;
  }

  a:hover {
    @apply underline;
  }
}

.break-word {
  word-break: break-word;
}

.tap-highligt-none {
  -webkit-tap-highlight-color: transparent;
}
